html,
body{
  width: 100%;
  height: auto;
  overflow: auto;
}
.containter{
  position: relative;
}
.nwrap{
  max-width: 1180px;
  margin: 0 auto;
  min-width: 900px;
}
/* header */
.topheader {
  width: 100%;
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  height: 11.25rem;
  padding-top: 4rem;
  transition: all .8s;
  z-index: 6;
}
.header-fixed-top{
  position: fixed;
}
.topheader .nwrap{
  display: flex;
  display: -webkit-flex;
  min-width: 900px;
  margin: 0 auto;
}
.topheader .logo-wrap{
  width: 26.5rem;
  padding-top: 0.5rem;
  padding-left: 4rem;
}
.topheader .logo-wrap .logo,
.topheader .logo-wrap .slogan-2{
  display: inline-block;
  height: 5.66666666rem;
  position: relative;
}
.topheader .logo-wrap .logo{
  background:#6ea082 url(../img/logo/logo-1.png) no-repeat center center;
  background-size: 70% auto;
  width: 5.66666666rem;
  border-radius: 50%;
}
.topheader .logo-wrap .slogan-2{
  width: 11.3rem;
  background: url(../img/logo/phone2.png) no-repeat left top;
  background-size: 100% auto;
  margin-left: .8rem;
}
.header-sm .logo-wrap .logo{
  background: url(../img/logo/logo-green-hover.svg) no-repeat center center;
}
.header-sm  .logo-wrap .slogan-2{
  background-position: left bottom !important;
  background-size: 100% auto !important;
}
.topnav,
.topnav ul,
.topnav>ul>li> a{
  height: 7.25rem;
}
.topnav{
  flex: 1;
}
.topnav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
  width: 100%;
}
.topnav>ul{
  display: flex;
  display: -o-flex;
  display: -moz-flex;
  display: -webkit-flex;
  /* background-color: rgba(0, 0, 0, .02) */
}
.topnav>ul>li{
  flex: 1;
  position: relative;
}
.topnav>ul>li> a,
.topnav>ul>li> a > span{
  display: block;
  font-size: 1.5rem;
  text-align: center;
}
.topnav>ul>li> a{
  line-height: 1.8rem;
  padding-top: 1.5rem;
  color: #333;
  text-decoration: none;
  border-radius: .5rem .5rem 0 0;
  border:rgba(255, 255, 255, 0) solid 1px;
  border-bottom: none;
}
.topnav>ul>li> a > span.tit{
  font-weight: 600;
}
.topnav>ul>li> a:hover,
.topnav>ul>li.cur> a{
  border-color:#6ea082;
}
.topnav>ul .subnav{
  position: absolute;
  top: 7.25rem;
  width: 100%;
  /* display: none; */
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.topnav>ul > li.cur .subnav{
  display: block;
  height: 15rem;
  opacity: 1;
}
.topnav>ul > li:nth-child(2).cur .subnav{
  display: block;
  width: 18rem;
  height: 18rem;
  background-color: rgba(110, 160, 130, .9);
}
.topnav>ul > li:nth-child(2).cur .subnav > ul{
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.topnav>ul > li:nth-child(2).cur .subnav > ul li{
  width: 50%;
}
.topnav .subnav li{
  position: relative;
}
.topnav .subnav li a{
  position: relative;
  color: #fff;
  line-height: 3rem;
  height: 3rem;
  display: block;
  width: 100%;
  text-align: left;
  padding-left: 1rem;
  background-color: rgba(110, 160, 130, .9);
  text-decoration: none;
  font-size: 1.4rem;
}
.topnav .subnav li a:hover{
  background-color: rgb(61, 119, 84);
}

.nbanner{
  width: 100%;
  position: relative;
  /* margin-bottom: 3rem; */
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
  z-index: 2;
}
.header-sm{
  height: 6rem;
  padding-top:1rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .2);
  z-index: 10;
}
.header-sm .logo-wrap .logo,
.header-sm .logo-wrap .slogan-2{
  height: 4rem;
  transition: all .8s;
}
.header-sm .topnav, 
.header-sm .topnav ul,
.header-sm .topnav>ul>li> a{
  height: 4.5rem;
  transition: all .5s;
}
.header-sm .logo-wrap .logo{
  width: 4rem;
}
.header-sm .logo-wrap .slogan-2{
  background-size: auto 100%;
  background-position: left center;
}
.header-sm .topnav, .topnav ul,
.header-sm .topnav>ul>li> a{
  height: 4rem;
}
.header-sm .topnav>ul>li> a,
.header-sm .topnav>ul>li> a > span{
  font-size: 1.3rem;
}
.header-sm .topnav>ul>li> a{
  padding-top: .5rem;
  line-height: 1.8rem
}
.header-sm .topnav>ul .subnav{
  top: 4rem;
}

.n-containter{
  padding: 0;
}

.article-wrap{
  min-height: 30rem;
  text-align: center;
  position: relative;
}
.article-wrap img{
  margin-bottom:1rem;
  min-height: 300px;
  min-width: 800px;
  position: relative;
  z-index: 1;
}
.quickNav{
  width: 3rem;
  position: absolute;
  height: 27rem;
  top: 6rem;
  right: -3rem;
  padding: 0;
  list-style: none;
}
.quickNav li{
  /* background-color: #ccc; */
  width: 100%;
  height: 9rem;
  position: relative;
}
.quickNav li a{
  display: block;
  width: 100%;
  height: 8rem;
  padding: 1rem 0;
  margin: 0 auto;
  background-color: #6EA082;
  color: #fff;
  text-decoration: none;
  font-size: 1.3rem;
  width: 2rem;
  line-height: 1.5rem;
  border-radius: 1rem;
  text-align: center;
}
.quickNav li a:hover{
  background-color: #b0d339;
}
.quickNav li a .icon{
  width: 1.4rem;
  fill: white;
}

/*
  nfooter
*/
.nfooter {
  width: 100%;
  position: relative;
  padding-top: 10rem;
}
.nfooter .bg-nwrap{
  background: url(../img/page/nfoot/nfootbg.jpg) no-repeat center top;
  width: 100%;
  height: 35.416666666rem;
}
.nfooter .bg-nwrap .logo{
  padding-left: 1rem;
  width: auto;
}
.nfooter .cont ul{
  list-style: none;
  padding: 0;
  margin: 0;
  color: #666;
  padding-left: 2rem;
}
.nfooter .cont ul li{
  line-height: 2.6rem;
  font-size:2rem;
}
.nfooter .cont ul li .icon{
  width: 2rem;
  height: auto;
  fill: #666;
  vertical-align: middle;
  margin-right: .5rem;
}