
html{
  background-color: #f2f2f2;
  font-size: 62.5%;
}
ul, ol {
  list-style: none outside none;
}
html,
body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.m-0 {
  margin: 0 !important;
}
.p-0{
  padding: 0 !important;
}
.h-100{
  height: 100% !important;
}
.relative{
  position: relative !important;
}
.fixed{
  position: fixed !important;
}
.ml-1{
  margin-left: 1rem
}
.mr-1{
  margin-right: 1rem
}
.pl-1{
  padding-left: 1rem
}
.pr-1{
  padding-right: 1rem
}
.ta-l{
  text-align: left !important;
}
.ta-c{
  text-align: center !important;
}
.ta-r{
  text-align: right !important;
}
.dflex{
  display: flex !important;
  display: -webkit-flex !important;
}
.flex1{
  flex: 1;
}

.lazyPic{
  min-height: 6rem;
}

/* loading */
.loading{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}
.clock{
	border-radius: 60px;
	border: 3px solid #fff;
	height: 80px;
	width: 80px;
	position: relative;

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);
}
.clock:after{
	content: "";
	position: absolute;
	background-color: #fff;
	top:2px;
	left: 48%;
	height: 38px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 97%;
			transform-origin: 50% 97%;
	-webkit-animation: grdAiguille 2s linear infinite;
			animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.clock:before{
	content: "";
	position: absolute;
	background-color: #fff;
	top:6px;
	left: 48%;
	height: 35px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 94%;
			transform-origin: 50% 94%;
	-webkit-animation: ptAiguille 12s linear infinite;
			animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

/*
  index banner
*/
.banner {
  width: 100%;
  height: 100%;
}
.banner .swiper-slide{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.banner .img-1{
  margin: 0 auto;
  display: block;
  width: 70%;
}
.banner .bg-banner{
  display: block;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: 100% auto;
  background-repeat: none;
}
.banner p{
  text-indent:-9999rem;
}
.banner .p-l{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
  transform: translate3d(-100%, -50%, 0);
}
.banner .p-r{
  position: absolute;
  right: 50%;
  top: 50%;
  width: 40%;
  transform: translate3d(100%, -50%, 0);
}
.banner .bg-b-3{
  position: absolute;
  width: 120vh;
  height: 120vh;
  border-radius: 50%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, .4);
  background-color: #d2dd33;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 1;
}
.banner .img-3{
  position: absolute;
  width: 80vh;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}
.banner .img-4{
  position: absolute;
  max-height: 80%;
  max-width: 80%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 2;
}
.banner .s-btn{
  position: absolute;
  top: 50%;
  margin-top: -90px;
  width: 64px;
  height: 180px;
  z-index: 5;
  background: url(../img/banner/arrow.png) no-repeat left top;
  opacity: .3;
}
.banner .s-btn:hover{
  opacity: .8;
}
.banner .s-btn.s-prev{
  left: 1%;
  background-position: left bottom
}
.banner .s-btn.s-next{
  right: 1%;
}

.bg-d2dd33{
  background-color: #d2dd33;
}
.bg-black{
  background-color: black;
}
.bg-f08200{
  background-color: #f08200;
}
.bg-ebebec{
  background-color: #ebebec;
  background: -webkit-linear-gradient(180deg, #fff, #ddd); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(180deg, #fff, #ddd); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(180deg, #fff, #ddd); /* Firefox 3.6 - 15 */
  background: linear-gradient(180deg, #fff, #ddd); /* 标准的语法 */
}

.main-wrap{
  width: 100%;
  min-width: 1100px;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}
.side-wrap{
  height: 100%;
  /* padding-left: 5.8rem; */
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, .5);
  padding-right: 0;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 10;
  transition: all .5s;
  -webkit-transition: all .5s;
  left: 0;
  min-width: 15rem;
}
.rightside{
  padding: 0 3rem 0 0;
}

.side-wrap .top{
  width: 100%;
  padding-top: 75px;
}
.side-wrap .top .logo{
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  text-indent: -9999rem;
  background: url(../img/logo/logo.png) no-repeat center center;
  background-size: 100% auto;
  background-color: rgba(100,160,130,1);
  margin: 0 auto 1rem;
  transition: all .6s;
  -webkit-transition: all .6s;
  cursor: pointer;
}
.side-wrap .top .logo:hover,
.side-wrap .top .logo:focus{
  background: url(../img/logo/logo-green-hover.svg) no-repeat center center;
  background-size: 100% auto;
  /* background-color: rgb(65, 121, 93); */
}
.side-wrap .top .phone{
  background: url(../img/logo/phone.png) no-repeat center center;
  background-size: auto 100%;
  width: 100%;
  height: 5.2rem;
}
/*
  default 导航
*/
.sub-nav ul,
.side-menus ul{
  list-style: none;
  padding: 0;
  display: block;
}
.side-menus ul{
  padding-top: 2rem;
}
.side-menus ul li{
  display: block;
  width: 100%;
  padding: .2rem 0
}
.side-menus ul li a{
  display: block;
  padding:.2rem 0;
  text-align: center;
  width: 10rem;
  text-align: center;
  line-height: 1.6rem;
  border:1px solid rgba(255, 255, 255, .0);
  text-decoration: none;
  color: #555;
  margin: 0 auto;
  border-radius: 5rem;
  transition: all 1s;
  -webkit-transition: all 1s;
  cursor: pointer;
}
.side-menus ul li a:hover,
.side-menus ul li.bg a{
  border:1px solid #3a9066;
  color: #3a9066;
}
.side-menus ul li a span{
  display: block;
  font-size: 1.5rem;
}
.side-menus ul li a .tit{
  font-weight: 600;
  font-family: '微软雅黑'
}
.side-menus ul li a .txt{
  font-weight: 400;
  font-family: '方正博雅宋_GBK';
  color: #999;
}
.side-menus ul li a:hover .txt,
.side-menus ul li.bg a .txt{
  color: #3a9066;
}

.side-menus ul li a span.letter-3{
  letter-spacing: .5rem
}
.side-wrap .silde-footer{
  width: 100%;
  padding-top: 1rem;
  text-align: center;
  position: relative;
}
.side-wrap .silde-footer .qrcode{
  width: 6rem;
}

.navicon{
  fill: #595757;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.containter {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.page{
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  overflow: hidden;
}
.page::after{
  clear: both;
  display: table;
  content: '';
}
.page-n-wrap{
  position: relative;
  width: 100%;
}
.slogan{
  margin-top: 15.7rem;
  text-align: center;
  min-height: 560px;
}
.slogan .sloganbg{
  background: url(../img/slogan/slogan.png) no-repeat left top;
  background-size: 100% auto;
  width: 230px;
  margin-left: auto;
  margin-right: 1rem;
  height: 100%;
  height: 560px;
}
.slogan-2 .sloganbg{
  background-position: 0 -580px;
}
.slogan-3 .sloganbg{
  background-position: 0 -1160px;
}
.slogan-4 .sloganbg{
  background-position: 0 -1740px;
}
.slogan-5 .sloganbg{
  background-position: 0 -2320px;
}
.slogan-6 .sloganbg{
  background-position: 0 -3480px;
}
.slogan-7 .sloganbg{
  background-position: 0 -2900px;
}
.slogan-8 .sloganbg{
  background-position: 0 -3760px;
}
.slogan img{
  max-width: 100%;
  padding:0 25% 0 17%;
}

/*
  sub-nav
*/
.sub-nav{
  /* padding-top: 8.5rem; */
}
.sub-nav ul {
  width: 100%;
  height: 5.5rem;
  padding:0;
  margin-bottom: 2.75rem;
  border-bottom:1px solid #3a9066;
}
.sub-nav ul::after{
  clear: both;
  display: block;
  content: '';
}
.sub-nav ul li{
  display: block;
  float: left;
  position: relative;

}
.page1 .sub-nav ul{
  display: flex;
  display: -webkit-flex;
}
.page1 .sub-nav ul li{
  flex: 1;
}
.page2 .sub-nav ul li,
.page3 .sub-nav ul li,
.page7 .sub-nav ul li{
  width: 16rem;
}
.page2 .sub-nav ul li .mr,
.page3 .sub-nav ul li .mr{
  margin-right: 1rem;
}
.page4 .sub-nav ul li{
  width: 8rem;
}
.page5 .sub-nav ul li{
  width: 16rem;
}
.page6 .sub-nav ul li{
  width: 8rem;
}
.sub-nav ul li a{
  display: block;
  padding:3rem 0 0;
  line-height: 2.4rem;
  width: 100%;
  font-size: 1.7rem;
  font-weight: 400;
  text-align: center;
  color: #555;
  border-radius: .5rem .5rem 0 0;
  /* transition: all 1s;
  -webkit-transition: all 1s; */
  border:1px solid rgba(211, 107, 107, 0);
  border-bottom: none;
  text-decoration: none;
  /* position: absolute; */
}
.sub-nav ul li a:hover{
  border:1px solid #3a9066;
  border-bottom-color:#fff;
  background-color: #fff;
  color: #3a9066;
}
.sub-nav ul li a.cur{
  border:1px solid #3a9066;
  border-bottom-color:#fff;
  background-color: #fff;
  color: #3a9066;
}

/*
  top-link-wrap
*/
.top-link-wrap{
  width: 100%;
  position: relative;
  height: 5.8rem;
  line-height: 5.8rem;
}
.top-link-wrap .item,
.top-link-wrap .item-txt{
  display: inline-block;
  font-size: 1rem;
  color: #666;
}
.top-link-wrap .item-txt{
  padding: 0 .5rem
}
.top-link-wrap .item{
  color: #666;
  text-decoration: none;
}
.top-link-wrap .item:hover{
  color: rgba(100,160,130,1);
  text-decoration: none;
}

/*
  first-page
*/
.page-lock .side-wrap{
  left: -100%;
}
.page-lock .tool-float{
  right: -100%;
}
.page-lock .first-page{

}
.company-wrap{
  width: 890px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -445px;
  margin-top: -250px;
  color: #666;

  display: flex;
  display: -webkit-flex;
  flex-wrap:row-reverse;
  align-content:space-around;
  flex-wrap: wrap;
}
.company-wrap .item{
  width: 50%;
  height: 50%;
  margin: 0;
  padding: 1rem;
}
/* .company-wrap .item:nth-child(1){
  background-color: rgba(100,160,130,.1);
}
.company-wrap .item:nth-child(3){
  background-color: rgba(100,160,130,.2);
}
.company-wrap .item:nth-child(2){
  background-color: rgba(100,160,130,.3);
}
.company-wrap .item:nth-child(4){
  background-color: rgba(100,160,130,.5);
} */
.company-wrap .item:nth-child(1),
.company-wrap .item:nth-child(3){
  padding-right:5%;
  text-align: right;
}
.company-wrap .item:nth-child(2),
.company-wrap .item:nth-child(4){
  padding-left:5%;
  text-align: left;
}
.company-wrap .item .info-1{
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: .5rem;
  color: #fff;
}
.company-wrap .item:nth-child(1)  .info-1,
.company-wrap .item:nth-child(3) .info-1{
  padding-right: 3.5rem;
}
.company-wrap .item:nth-child(2)  .info-1,
.company-wrap .item:nth-child(4) .info-1{
  padding-left: 0;
}
.company-wrap .item:nth-child(1)  .info-3,
.company-wrap .item:nth-child(1) .info-4,
.company-wrap .item:nth-child(3)  .info-3,
.company-wrap .item:nth-child(3) .info-4{
  padding-right: 3.5rem;
}
.company-wrap .item .info-2{
  /* display: flex;
  display: -webkit-flex; */
  margin-bottom: 1rem;
}
.company-wrap .item .info-2 .svg-icon{
  fill:#C52720;
  height: 100px;
  width: auto;
}
.company-wrap .item .info-2 .num{
  font-size:10rem;
}
.company-wrap .item .info-2 .ink{
  font-size:1.2rem;
  display: inline-block;
  width: 3rem;
  color: #fff;
}
.company-wrap .item.product .info-2 .ink,
.company-wrap .item.server .info-2 .ink{
  font-size:1.8rem;
}
.company-wrap .item  .info-3,
.company-wrap .item .info-4{
  line-height: 2rem;
  font-size: 1.6rem;
}

.arrow{
  width: 126px;
  height: 40px;
  position: absolute;
  left: 50%;
  margin-left: -63px;
  bottom: 3rem;
  cursor: pointer;
  z-index: 5;
}
.arrow .svg-arrow{
  width: 100%;
  fill:#838281;
}
.page-lock .arrow{
  animation: arrowtop 1s ease-in infinite;
  -webkit-animation: arrowtop 1s ease-in infinite;
}

@keyframes arrowtop{
  0% {
    transform: translate3d(0,0,0)
  }
  50% {
    transform: translate3d(0,-1rem,0)
  }
  100% {
    transform: translate3d(0,0,0)
  }
}
@-webkit-keyframes arrowtop{
  0% {
    -webkit-transform: translate3d(0,0,0)
  }
  50% {
    -webkit-transform: translate3d(0,-1rem,0)
  }
  100% {
    -webkit-transform: translate3d(0,0,0)
  }
}
/*
  recommend
 */
.recommend{
  width: 100%;
  height: 59rem;
  position: relative;
  padding-bottom: 8rem;
}
.recommend ul{
  list-style: none;
  padding-left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  margin-bottom: 0;
}
.recommend ul.recommend-inline li{
  position: relative;
  overflow: hidden;
  flex: 1;
}
.recommend ul.recommend-inline li + li{
  margin-left: .4%
}
.recommend ul.recommend-inline li a{
  display: block;
  height: 100%;
  background-color:rgba(0,0,0,.05);
  color: #555;
  transition: all 1s;
  -webkit-transition: all 1s;
  text-decoration: none;
  position: relative;
  overflow: hidden;
}
.page5 .recommend ul.recommend-inline li a:hover{
  background-color:rgba(0,0,0,.1);
}
.recommend ul.recommend-inline li a .pic{
  min-height: 10rem;
  width: 100%;
}
.recommend ul.recommend-inline li a img{
  width: 100%;
  height: auto;
}
.recommend ul.recommend-inline li a>img:nth-child(1){
  border: 1px solid #e6e6e6;
}
.recommend ul.recommend-inline .p-txt{
  display: block;
  padding: 2rem;
  font-family: '方正兰亭宋_GBK';
  margin: 0;
}
.recommend ul.recommend-inline li dt.tit{
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 3rem;
  padding-top: 1rem;
}
.recommend ul.recommend-inline li dd.txt{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  list-style: square;
  padding-left: 1.5rem;
  position: relative;
}
.page3 .recommend ul.recommend-inline li dt.tit{
  font-size:2rem;
  font-weight: 600;
}
.page3 .recommend ul.recommend-inline li dd.txt{
  font-size: 1.6rem;
  line-height: 2rem;
}
.page3 .recommend ul.recommend-inline li dt.tit,
.page3 .recommend ul.recommend-inline li dd.txt{
  text-align: center;
  padding-left: 0;
}
.recommend ul.recommend-inline li dd.txt::after{
  content: '·';
  position: absolute;
  left: 0;
  top: 0;
  width: 1.5rem;
  text-align: left;
  height: 2.4rem;
}
.page3 .recommend ul.recommend-inline li dd.txt:after{
  content: '';
  position: static;
}
.page5 .recommend ul.recommend-inline li dt.tit{
  font-size:2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.page5 .recommend ul.recommend-inline li dd.txt{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* letter-spacing: -.08rem; */
}

.recommend ul.recommend-inline .p-txt-wrap{
  margin:0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 36rem;
}
.recommend ul.recommend-inline li a .p-txt{
  width: 100%;
  height: 100%;
  /* text-indent: -999rem; */
  position: relative;
}

.recommend ul.recommend-inline li a .t-txt-hover{
  background: url(../img/text/page-1-hover.svg) no-repeat center 20%;
  background-size: 10rem auto !important;
  position: absolute;
  top: 100%;
  transition: all 1s;
  -webkit-transition: all 1s;
  background-color: rgba(176, 211, 57, 1);
}
.recommend ul.recommend-inline li a .p-txt{
  background-size: 80% auto;
}
.recommend ul.recommend-inline li a.hover .t-txt-hover{
  top: 55px;
}
.page3 .recommend ul.recommend-inline li a.hover .t-txt-hover{
  top: 210px;
}
.page3 .recommend ul.recommend-inline li a .t-txt-hover{
  background-position: center 10%;
}
.page6 .recommend ul.recommend-inline li a.hover .t-txt-hover{
  top: 64px;
}
/*
  swiper
*/
.page-n-wrap .s-button{
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 7.5rem;
  margin-top: -4rem;
  z-index: 10;
  cursor: pointer;
  background-image:url(../img/banner/arrow.png);
  background-color: rgba(0, 0, 0, .4);
  background-size: 90% auto;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  display: none;
}
/* .page-n-wrap:hover .s-button{
  display: block;
} */
.page-n-wrap .swiper-button-disabled{
  opacity: .1;
}
.page-n-wrap .s-prev{
  left: -3rem;
  right: auto;
  background-position: left bottom;
  border-radius: .5rem 0 0 .5rem;
}
.page-n-wrap .s-next{
  left: auto;
  right: -3rem;
  background-position: left top;
  border-radius: 0 .5rem .5rem 0;
}
.recommend .s-pagination{
  position: absolute;
  bottom: 4rem;
  overflow: hidden;
  left: 50%;
  text-align: center;
  width: 70rem;
  height: 2rem;
  margin-left: -35rem;
  z-index: 10;
}
.recommend .swiper-pagination-bullet{
  width: 8rem;
  overflow: hidden;
  height: .5rem;
  border-radius: 1rem;
  display: inline-block;
  z-index: 3;
  margin-right: 1.2rem;
}


.recommend ul.recommend-inline li.green-wrap a{
  background-color: rgba(145, 201, 167, 1);
}
.recommend ul.recommend-inline .p-txt-c-wrap .p-txt .txt::after{
  display: none;
}
.recommend ul.recommend-inline .p-txt-c-wrap .p-txt .txt{
  text-align: center;
  color: #fff;
  padding-left: 0;
}
.recommend ul.recommend-inline .p-txt-c-wrap .p-txt .font-2-4rem{
  font-size: 2.4rem;
  line-height: 3.2rem;
}
.recommend ul.recommend-inline .p-txt-c-wrap .p-txt .font-3-2rem{
  font-size: 3.6rem;
  line-height: 4rem;
  letter-spacing: .3rem
}
.recommend ul.recommend-inline .p-txt-c-wrap .p-txt .letter-s{
  letter-spacing: .2rem
}

.recommend ul.recommend-inline .p5-txt-wrap .p-txt{
  padding: .5rem
}
.page6 .recommend ul.recommend-inline .p5-txt-wrap .p-txt{
  padding: 2rem 10rem 2rem 3rem;
}
.page6 .recommend ul.recommend-inline .p5-txt-wrap .p-txt .txt:nth-child(3)::after,
.page6 .recommend ul.recommend-inline .p5-txt-wrap .p-txt .txt:nth-child(5)::after{
  display: none;
}
.recommend ul.recommend-inline .p5-txt-wrap .p-txt .txt{
  font-size: 1.4rem;
}

.recommend-6 ul.recommend-inline{
  display: flex;
  display: -webkit-flex;
}
.recommend-6 ul.recommend-inline li{
  flex: 1;
}

.swiper-pagination-bullet-active{
  background-color: rgba(176, 211, 57,1);
}
/*
  index 组合式礼盒
*/
.giftbox ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  display: -webkit-flex;
}
.giftbox ul.gif-1{
  margin-bottom: 2px;
}
.giftbox ul li{
  flex: 1;
}
.giftbox ul.gif-1 li:nth-child(1),
.giftbox ul.gif-1 li:nth-child(2){
  width: 50%;
}
.giftbox ul.gif-1 li:nth-child(1){
  flex: 1;
  float: none;
}
.giftbox ul.gif-1 li:nth-child(1),
.giftbox ul.gif-2 li:nth-child(1),
.giftbox ul.gif-2 li:nth-child(2){
  margin-right: 2px;
}
.giftbox ul.gif-2{
  display: flex;
  display: -webkit-flex;
  align-items: stretch;
}
.giftbox ul.gif-2 li:nth-child(1),
.giftbox ul.gif-2 li:nth-child(3){
  flex: 1;
}
.giftbox ul.gif-2 li:nth-child(2){
  width: 25.5%;
  flex: none;
}
.giftbox ul li a {
  display: block;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.giftbox ul li a img{
  width: 100%;
}
.giftbox ul.gif-2 li a .t-txt-hover{
  width: 100%;
  height: 100%;
  background: url(../img/text/page-1-hover.svg) no-repeat center 20%;
  background-size: 15rem auto !important;
  position: absolute;
  top: 100%;
  transition: all 1s;
  -webkit-transition: all 1s;
  background-color: rgba(176, 211, 57,1);
  z-index: 2;
}
.giftbox:hover ul.gif-2 li a .t-txt-hover{
  top: 0;
}

.recommend-3 .recommend-inline li:nth-child(1),
.recommend-3 .recommend-inline li:nth-child(3){
  width: 270px;
  flex: none;
}
.recommend-3 .recommend-inline li:nth-child(2){
  flex: 1;
}

.duibi{
  position: relative;
  padding: 0 1rem;
}
.duibi dl{
  display: block;
  float: left;
  font-size: .76rem;
  width: 20%;
}

.contact-wrap .cont-1,
.contact-wrap .cont-2{
  position: relative;
  margin-bottom: 2rem;
}
.contact-wrap .cont-1 .cont-pic-1{
  width: 4vw;
  padding-top: 5rem;
}
.contact-wrap .cont-2 .cont-pic-2{
  width: 100%;
}
.contact-wrap .cont-3{
  position: relative;
  width: 66%;
  font-family: '方正兰亭宋_GBK';
  font-size: 1.4rem;
  line-height: 2rem;
}
/* .contact-wrap .cont-3 p{
  text-indent: 2em;
} */
.contact-wrap .cont-3 .shuiyin{
  position: absolute;
  width: 8rem;
  height: 8rem;
  background: url(../img/page/shuying.png) no-repeat center;
  background-size: cover;
  z-index: 2;
  right: -3rem;
  top: 4rem;
}

.new-cont-wrap{
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  width: 100%;
  align-content:space-around;
}
.new-cont-wrap .box-pic-l{
  width: 35.75vw;
}
.new-cont-wrap .box-pic-l .box-n-pic{
  width: 100%;
  min-height: 22vh;
  overflow: hidden;
}
.new-cont-wrap .box-pic-r{
  width: 20vw;
  padding-left: .2vw;
}
.new-cont-wrap .box-pic-r .box-n-pic{
  padding-bottom: 1vw;
  min-height: 10vh;
}
.new-cont-wrap img{
  width: 100%;
  display: block;
}
.new-cont-wrap .box-pic-l .box-n-pic,
.new-cont-wrap .box-pic-r .box-n-pic,
.new-cont-wrap .box-pic-l .box-n-pic{
  background-color: #ddd;
  border: 1px solid #ddd;
}
.new-cont-wrap-info{
  border: 1px solid #ccc;
  width: 100%;
  margin-top: .5rem;
  height: 10vh;
  font-size: 1.2rem;
}
.new-cont-wrap-info .left-l{
  width: 20%;
  border-right: 1px solid #ccc;
}
.new-cont-wrap-info .left-c{
  width: 30%;
  border-right: 1px solid #ccc;
}
.new-cont-wrap-info .left-r{
  width: 50%;
}

.new-cont-wrap-info .left-l .row-1,
.new-cont-wrap-info .left-l .row-2,
.new-cont-wrap-info .left-c .row-1,
.new-cont-wrap-info .left-c .row-2,
.new-cont-wrap-info .left-r .row-1,
.new-cont-wrap-info .left-r .row-2,
.new-cont-wrap-info .left-r .row-3{
  padding: .5rem
}
.new-cont-wrap-info .left-l .row-1,
.new-cont-wrap-info .left-l .row-2,
.new-cont-wrap-info .left-c .row-1,
.new-cont-wrap-info .left-c .row-2{
  height: 50%;
}
.new-cont-wrap-info .left-l .row-1,
/* .new-cont-wrap-info .left-l .row-2, */
.new-cont-wrap-info .left-c .row-1,
.new-cont-wrap-info .left-r .row-1,
.new-cont-wrap-info .left-r .row-2{
  border-bottom: 1px solid #ccc;
}
.new-cont-wrap-info .left-r .row-1,
.new-cont-wrap-info .left-r .row-2,
.new-cont-wrap-info .left-r .row-3{
  height: 33.333333%;
}




.new-cont-wrap-info .left-l{
  width: 7%;
  border-right: 1px solid #ccc;
}
.new-cont-wrap-info .left-c{
  width: 30%;
  border-right: 1px solid #ccc;
}
.new-cont-wrap-info .left-r{
  width: 63%;
}

.new-cont-wrap-info .left-l .row-1,
.new-cont-wrap-info .left-l .row-2,
.new-cont-wrap-info .left-c .row-1,
.new-cont-wrap-info .left-c .row-2,
.new-cont-wrap-info .left-r .row-1,
.new-cont-wrap-info .left-r .row-2,
.new-cont-wrap-info .left-r .row-3{
  padding: .5rem
}
.new-cont-wrap-info .left-l .row-1,
.new-cont-wrap-info .left-l .row-2,
.new-cont-wrap-info .left-c .row-1,
.new-cont-wrap-info .left-c .row-2{
  height: 50%;
}
.new-cont-wrap-info .left-l .row-1,
/* .new-cont-wrap-info .left-l .row-2, */
.new-cont-wrap-info .left-c .row-1,
.new-cont-wrap-info .left-r .row-1,
.new-cont-wrap-info .left-r .row-2{
  border-bottom: 1px solid #ccc;
}
.new-cont-wrap-info .left-r .row-1,
.new-cont-wrap-info .left-r .row-2,
.new-cont-wrap-info .left-r .row-3{
  height: 33.333333%;
}

/* tool-float */
.tool-float{
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 50;
  width: 5rem;
  height: 20rem;
  margin-top: -15rem;
  transition: all .5s;
  -webkit-transition: all .5s;
}
.tool-float ul{
  padding:0;
  margin:0;
}
.tool-float li.hover {
  overflow: hidden;
}
.tool-float li{
  position: relative;
  width: 5rem;
  height: 5rem;
  font-size: 1rem;
  margin-bottom: .1rem;
  text-align: center;
  background-color: rgba(176, 211, 57,1);
  padding: 1rem;
  cursor: pointer;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.tool-float li:hover{
  background-color: rgb(59, 136, 97);
}
.tool-float li svg.icon{
  width: 3rem;
  fill: #fff;
}
.tool-float li .text{
  display: block;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  display: none;
}
.tool-float .phone .tel{
  position: absolute;
  height: 5rem;
  width: 14rem;
  font-size: 2rem;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  line-height: 5rem;
  left: 5rem;
  top:0;
  background-color: rgb(59, 136, 97);
  color: #fff;
  z-index: 49;
}
.swt-fr .qrcode{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 13;
}
.swt-fr .qrcode-big{
  width: 0;
  height: 0;
  margin-top: 4px;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 11;
  box-shadow: 0px 0px 3px 1px #ddd;
  background-color: #fff;
  background: url(../img/logo/qrcode.png) center center no-repeat rgb(255, 255, 255);
  background-size:auto 90%; 
}


/* i__pic_cont */
.i__pic_cont{
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.i__pic_cont .i__link{
  display: block;
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
}
.i__pic_cont .i_pic{
  width: 100%;
  height: auto;
}
.i__pic_cont .i_pic_1{
  background: url(../img/page/1-0/index_01.jpg) no-repeat center top;
  height: 169px;
}
.i__pic_cont .i_pic_2{
  background: url(../img/page/1-0/index_02.jpg) no-repeat center top;
  height: 139px;
}
.i__pic_cont .i_pic_3{
  background: url(../img/page/1-0/index_03.jpg) no-repeat center top;
  height: 177px;
}
.i__pic_cont .i_pic_4{
  background: url(../img/page/1-0/index_04.png) no-repeat center top;
  height: 484px;
}












@media (max-width: 1439px){
  .sub-nav ul li a {
    font-size: 1.1rem;
  }
  .slogan .sloganbg{
    width: 184px;
    height: 448px;
  }
  .recommend ul.recommend-inline li a.hover .t-txt-hover{
    top: 18%;
  }
  .slogan-2 .sloganbg {
    background-position: 0 -448px;
  }
  .slogan-3 .sloganbg {
    background-position: 0 -928px;
  }
  .slogan-4 .sloganbg {
    background-position: 0 -1392px;
  }
  .slogan-5 .sloganbg {
    background-position: 0 -1856px;
  }
  .slogan-6 .sloganbg {
    background-position: 0 -2784px;
  }
  .slogan-7 .sloganbg {
    background-position: 0 -2320px;
  }
  .page6 .recommend ul.recommend-inline .p5-txt-wrap .p-txt{
    padding: 1rem;
  }
}
@media (min-width: 1440px){
  .sub-nav ul li a {
    font-size: 1.3rem;
  }
  .recommend ul.recommend-inline li a.hover .t-txt-hover{
    top: 12%;
  }
  .page8 .slogan{
    display: none;
  }
  .page6 .recommend ul.recommend-inline .p5-txt-wrap .p-txt{
    padding: 1rem;
  }
}

@media (max-width: 1520px){
  .rightside {
    padding-right: 0;
  }
}
@media (min-width: 1665px){
  .sub-nav ul li a {
    font-size: 1.5rem;
  }
  .contact-wrap .cont-2 img{
    width: 100%;
  }
  .slogan{
    margin-top: 14.7rem;
    text-align: center;
    min-height: 560px;
  }
  .page8 .slogan{
    width: 20%;
    display: block;
  }
}


@media (min-width: 1721px){
  .side-wrap {
    width: 266px;
    padding-left: 5.8rem;
  }
  .side-menus{
    height: 480px;
  }
  .left-side-back{
    width: 266px;
    position: relative;
  }
  .rightside{
    position: relative;
  }
  .cont-wrap{
    width: 1090px;
  }
  .side-wrap .top{
    padding-top: 75px;
  }
  .side-menus ul{
    padding-top: 25px;
  }
  .side-menus ul li{
    padding:4px 0;
  }
  .side-menus ul li a{
    font-size: 16px;
  }
  .top-link-wrap{
    height: 7.8rem;
  }

  .slogan{
    width: 335px;
  }
  .page8 .slogan{
    width: 135px;
  }
  .slogan img{
    max-width: 100%;
    padding:0;
    width: 210px;
    display: block;
    margin-left: 75px
  }
  .tool-float{
    margin-top: 0;
    top: 565px;
  }
  .recommend ul.recommend-inline .p-txt{
    padding: 17px 20px;
  }
  .recommend ul.recommend-inline li dt.tit{
    padding-top: 0;
    font-size: 28px;
  }
  .recommend ul.recommend-inline li dd.txt{
    padding-top: 0;
    font-size: 18px;
  }
  .page6 .recommend ul.recommend-inline .p5-txt-wrap .p-txt {
    padding: 2rem 10rem 2rem 3rem;
  }
  /* footer */
  .contact-wrap .cont-1 .cont-pic-1{
    width: 85px;
    padding-top: 5rem;
  }
  .contact-wrap .cont-1, .contact-wrap .cont-2{
    width: 930px;
  }

  .new-cont-wrap{
    /* height: 100%; */
  }
  .new-cont-wrap .box-pic-l{
    width: 700px;
  }
  .new-cont-wrap .box-pic-r{
    width: 385px;
  }
  .new-cont-wrap .box-pic-l .box-n-pic{
    width: 100%;
    height: 480px;
    overflow: hidden;
  }
  .new-cont-wrap .box-pic-r .box-n-pic{
    width: 100%;
    height: 237.5px;
    overflow: hidden;
  }
  .new-cont-wrap .box-pic-r .box-n-pic:nth-child(1){
    margin-bottom:5px;
  }
  /* .new-cont-wrap .box-pic-l .box-n-pic,
  .new-cont-wrap .box-pic-r .box-n-pic,
  .new-cont-wrap .box-pic-l .box-n-pic{
    background-color: #3a9066;
  } */
  .new-cont-wrap-info{
    height: 70px;
  }

}

/* animation */
.company-wrap .item:nth-child(1) dd,
.company-wrap .item:nth-child(2) dd,
.company-wrap .item:nth-child(3) dd,
.company-wrap .item:nth-child(4) dd

/* .company-wrap .company .item dd */
{
  opacity: 0;
  position: relative;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.page-lock .company-wrap .item:nth-child(1) dd.info-1{
  -webkit-animation-name: revealTextFromLeft;
  animation-name: revealTextFromLeft;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}
.page-lock .company-wrap .item:nth-child(1) dd.info-2{
  -webkit-animation-name: revealTextFromLeft;
  animation-name: revealTextFromLeft;
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.page-lock .company-wrap .item:nth-child(1) dd.info-3{
  -webkit-animation-name: revealTextFromLeft;
  animation-name: revealTextFromLeft;
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.page-lock .company-wrap .item:nth-child(1) dd.info-4{
  -webkit-animation-name: revealTextFromLeft;
  animation-name: revealTextFromLeft;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.page-lock .company-wrap .item:nth-child(2) dd.info-1{
  -webkit-animation-name: revealTextFromRight;
  animation-name: revealTextFromRight;
  -webkit-animation-delay: 600ms;
  animation-delay: 600ms;
}
.page-lock .company-wrap .item:nth-child(2) dd.info-2{
  -webkit-animation-name: revealTextFromRight;
  animation-name: revealTextFromRight;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.page-lock .company-wrap .item:nth-child(2) dd.info-3{
  -webkit-animation-name: revealTextFromRight;
  animation-name: revealTextFromRight;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.page-lock .company-wrap .item:nth-child(2) dd.info-4{
  -webkit-animation-name: revealTextFromRight;
  animation-name: revealTextFromRight;
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}


.page-lock .company-wrap .item:nth-child(3) dd.info-1{
  -webkit-animation-name: revealTextFromLeft;
  animation-name: revealTextFromLeft;
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;;
}
.page-lock .company-wrap .item:nth-child(3) dd.info-2{
  -webkit-animation-name: revealTextFromLeft;
  animation-name: revealTextFromLeft;
  -webkit-animation-delay: 3.2s;
  animation-delay: 3.2s;
}
.page-lock .company-wrap .item:nth-child(3) dd.info-3{
  -webkit-animation-name: revealTextFromLeft;
  animation-name: revealTextFromLeft;
  -webkit-animation-delay: 3.8s;
  animation-delay: 3.8s;
}
.page-lock .company-wrap .item:nth-child(3) dd.info-4{
  -webkit-animation-name: revealTextFromLeft;
  animation-name: revealTextFromLeft;
  -webkit-animation-delay: 4.6s;
  animation-delay: 4.6s;
}

.page-lock .company-wrap .item:nth-child(4) dd.info-1{
  -webkit-animation-name: revealTextFromRight;
  animation-name: revealTextFromRight;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;;
}
.page-lock .company-wrap .item:nth-child(4) dd.info-2{
  -webkit-animation-name: revealTextFromRight;
  animation-name: revealTextFromRight;
  -webkit-animation-delay: 3.4s;
  animation-delay: 3.4s;
}
.page-lock .company-wrap .item:nth-child(4) dd.info-3{
  -webkit-animation-name: revealTextFromRight;
  animation-name: revealTextFromRight;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
.page-lock .company-wrap .item:nth-child(4) dd.info-4{
  -webkit-animation-name: revealTextFromRight;
  animation-name: revealTextFromRight;
  -webkit-animation-delay: 4.8s;
  animation-delay: 4.8s;
}

@keyframes revealTextFromLeft {
  0% {
    -webkit-transform: translate3d(calc(-10% - 3rem),0,0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@-webkit-keyframes revealTextFromLeft {
  0% {
    -webkit-transform: translate3d(calc(-10% - 3rem),0,0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }
}

@keyframes revealTextFromRight {
  0% {
    -webkit-transform: translate3d(calc(10% + 3rem),0,0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }
}
@-webkit-keyframes revealTextFromRight {
  0% {
    -webkit-transform: translate3d(calc(10% + 3rem),0,0);
    opacity: 0;
  }
  to {
    -webkit-transform: translate3d(0,0,0);
    opacity: 1;
  }
}




@-webkit-keyframes bounceInDown {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-3000px,0);
      transform: translate3d(0,-3000px,0);
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(0,25px,0);
      transform: translate3d(0,25px,0);
  }

  75% {
      -webkit-transform: translate3d(0,-10px,0);
      transform: translate3d(0,-10px,0);
  }

  90% {
      -webkit-transform: translate3d(0,5px,0);
      transform: translate3d(0,5px,0);
  }

  to {
      -webkit-transform: none;
      transform: none;
  }
}

@keyframes bounceInDown {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,-3000px,0);
      transform: translate3d(0,-3000px,0);
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(0,25px,0);
      transform: translate3d(0,25px,0);
  }

  75% {
      -webkit-transform: translate3d(0,-10px,0);
      transform: translate3d(0,-10px,0);
  }

  90% {
      -webkit-transform: translate3d(0,5px,0);
      transform: translate3d(0,5px,0);
  }

  to {
      -webkit-transform: none;
      transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

@-webkit-keyframes bounceInLeft {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px,0,0);
      transform: translate3d(-3000px,0,0);
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(25px,0,0);
      transform: translate3d(25px,0,0);
  }

  75% {
      -webkit-transform: translate3d(-10px,0,0);
      transform: translate3d(-10px,0,0);
  }

  90% {
      -webkit-transform: translate3d(5px,0,0);
      transform: translate3d(5px,0,0);
  }

  to {
      -webkit-transform: none;
      transform: none;
  }
}

@keyframes bounceInLeft {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px,0,0);
      transform: translate3d(-3000px,0,0);
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(25px,0,0);
      transform: translate3d(25px,0,0);
  }

  75% {
      -webkit-transform: translate3d(-10px,0,0);
      transform: translate3d(-10px,0,0);
  }

  90% {
      -webkit-transform: translate3d(5px,0,0);
      transform: translate3d(5px,0,0);
  }

  to {
      -webkit-transform: none;
      transform: none;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceInRight {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(3000px,0,0);
      transform: translate3d(3000px,0,0);
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px,0,0);
      transform: translate3d(-25px,0,0);
  }

  75% {
      -webkit-transform: translate3d(10px,0,0);
      transform: translate3d(10px,0,0);
  }

  90% {
      -webkit-transform: translate3d(-5px,0,0);
      transform: translate3d(-5px,0,0);
  }

  to {
      -webkit-transform: none;
      transform: none;
  }
}

@keyframes bounceInRight {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(3000px,0,0);
      transform: translate3d(3000px,0,0);
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px,0,0);
      transform: translate3d(-25px,0,0);
  }

  75% {
      -webkit-transform: translate3d(10px,0,0);
      transform: translate3d(10px,0,0);
  }

  90% {
      -webkit-transform: translate3d(-5px,0,0);
      transform: translate3d(-5px,0,0);
  }

  to {
      -webkit-transform: none;
      transform: none;
  }
}

.bounceInRight {
  -webkit-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

@-webkit-keyframes bounceInUp {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,3000px,0);
      transform: translate3d(0,3000px,0);
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(0,-20px,0);
      transform: translate3d(0,-20px,0);
  }

  75% {
      -webkit-transform: translate3d(0,10px,0);
      transform: translate3d(0,10px,0);
  }

  90% {
      -webkit-transform: translate3d(0,-5px,0);
      transform: translate3d(0,-5px,0);
  }

  to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}

@keyframes bounceInUp {
  0%,60%,75%,90%,to {
      -webkit-animation-timing-function: cubic-bezier(.215,.61,.355,1);
      animation-timing-function: cubic-bezier(.215,.61,.355,1);
  }

  0% {
      opacity: 0;
      -webkit-transform: translate3d(0,3000px,0);
      transform: translate3d(0,3000px,0);
  }

  60% {
      opacity: 1;
      -webkit-transform: translate3d(0,-20px,0);
      transform: translate3d(0,-20px,0);
  }

  75% {
      -webkit-transform: translate3d(0,10px,0);
      transform: translate3d(0,10px,0);
  }

  90% {
      -webkit-transform: translate3d(0,-5px,0);
      transform: translate3d(0,-5px,0);
  }

  to {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
  }
}

.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-webkit-keyframes bounceOut {
  20% {
      -webkit-transform: scale3d(.9,.9,.9);
      transform: scale3d(.9,.9,.9);
  }

  50%,55% {
      opacity: 1;
      -webkit-transform: scale3d(1.1,1.1,1.1);
      transform: scale3d(1.1,1.1,1.1);
  }

  to {
      opacity: 0;
      -webkit-transform: scale3d(.3,.3,.3);
      transform: scale3d(.3,.3,.3);
  }
}

@keyframes bounceOut {
  20% {
      -webkit-transform: scale3d(.9,.9,.9);
      transform: scale3d(.9,.9,.9);
  }

  50%,55% {
      opacity: 1;
      -webkit-transform: scale3d(1.1,1.1,1.1);
      transform: scale3d(1.1,1.1,1.1);
  }

  to {
      opacity: 0;
      -webkit-transform: scale3d(.3,.3,.3);
      transform: scale3d(.3,.3,.3);
  }
}

.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}

@-webkit-keyframes bounceOutDown {
  20% {
      -webkit-transform: translate3d(0,10px,0);
      transform: translate3d(0,10px,0);
  }

  40%,45% {
      opacity: 1;
      -webkit-transform: translate3d(0,-20px,0);
      transform: translate3d(0,-20px,0);
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(0,2000px,0);
      transform: translate3d(0,2000px,0);
  }
}

@keyframes bounceOutDown {
  20% {
      -webkit-transform: translate3d(0,10px,0);
      transform: translate3d(0,10px,0);
  }

  40%,45% {
      opacity: 1;
      -webkit-transform: translate3d(0,-20px,0);
      transform: translate3d(0,-20px,0);
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(0,2000px,0);
      transform: translate3d(0,2000px,0);
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  animation-name: bounceOutDown;
}

@-webkit-keyframes bounceOutLeft {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(20px,0,0);
      transform: translate3d(20px,0,0);
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(-2000px,0,0);
      transform: translate3d(-2000px,0,0);
  }
}

@keyframes bounceOutLeft {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(20px,0,0);
      transform: translate3d(20px,0,0);
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(-2000px,0,0);
      transform: translate3d(-2000px,0,0);
  }
}

.bounceOutLeft {
  -webkit-animation-name: bounceOutLeft;
  animation-name: bounceOutLeft;
}

@-webkit-keyframes bounceOutRight {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(-20px,0,0);
      transform: translate3d(-20px,0,0);
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(2000px,0,0);
      transform: translate3d(2000px,0,0);
  }
}

@keyframes bounceOutRight {
  20% {
      opacity: 1;
      -webkit-transform: translate3d(-20px,0,0);
      transform: translate3d(-20px,0,0);
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(2000px,0,0);
      transform: translate3d(2000px,0,0);
  }
}

.bounceOutRight {
  -webkit-animation-name: bounceOutRight;
  animation-name: bounceOutRight;
}

@-webkit-keyframes bounceOutUp {
  20% {
      -webkit-transform: translate3d(0,-10px,0);
      transform: translate3d(0,-10px,0);
  }

  40%,45% {
      opacity: 1;
      -webkit-transform: translate3d(0,20px,0);
      transform: translate3d(0,20px,0);
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(0,-2000px,0);
      transform: translate3d(0,-2000px,0);
  }
}

@keyframes bounceOutUp {
  20% {
      -webkit-transform: translate3d(0,-10px,0);
      transform: translate3d(0,-10px,0);
  }

  40%,45% {
      opacity: 1;
      -webkit-transform: translate3d(0,20px,0);
      transform: translate3d(0,20px,0);
  }

  to {
      opacity: 0;
      -webkit-transform: translate3d(0,-2000px,0);
      transform: translate3d(0,-2000px,0);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}

@-webkit-keyframes fadeIn {
  0% {
      opacity: 0;
  }

  to {
      opacity: 1;
  }
}
